<!DOCTYPE html>
<html>
<header>
    <title>Help</title>
    <link rel="icon" href="/img/weather1.png">
    <link rel="stylesheet" href="/css/style.css">
    {{!-- <style ref="/css/style.css"></style> --}}

</header>

<body>
    {{> header}}
    <div class="main-content">
        <h2>{{example}}</h2>

    </div>

    {{> footer}}
</body>

</html>